.top_centering_inner_div {
  position: absolute;
  top: 15%;
  transform: translate(0, -50%);
}

.delete_button_cross {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #8899DD;
  border-radius: 25px;
  box-shadow: 1px 1px 5px 4px darkslategrey;
  margin-left: 10px;
  transform: rotate(45deg);
}

$long_part: 72%;
$short_part: 18%;

.delete_button_cross_help {
  display: inline-block;
  position: absolute;
  background-color: darkred;
  border-radius: 5px;
  box-shadow: 0 0 6px 1px darkred;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.delete_button_cross_help1 {
  @extend .delete_button_cross_help;
  height: $short_part;
  width: $long_part;

}

.delete_button_cross_help2 {
  @extend .delete_button_cross_help;
  height: $long_part;
  width: $short_part;
}

:link.delete_button_cross {
  color: #000000;
}

:visited.delete_button_cross {
  color: #000000;
}

:hover.delete_button_cross {
  color: #000000;
  background-color: #555555;
  opacity: 0.7;
  border-radius: 13px;
}

:link.main_title_image {
  color: #000000;
}

:visited.main_title_image {
  color: #000000;
}

:hover.main_title_image {
  color: #000000;
  background-color: #555555;
  opacity: 0.7;
  border-radius: 13px;
}