<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>
    New answer on MathToUs. From <%= @user.name %>
</h1>
<br>

<h2>
    <%= link_to "Answers", answers_url %>
</h2>
</body>
</html>