.nice_circle {
  position: relative;

  background-color: maroon;
  border: groove;
  border-radius: 50px;

  border-width: 20px;

  width: 50px;
  height: 50px;

  border-top-color: green;
  border-bottom-color: red;
  border-left-color: blue;
  border-right-color: yellow;

  -webkit-animation-name: myfirst;
  -webkit-animation-duration: 6s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  -webkit-animation-play-state: running;
  -webkit-animation-iteration-count: infinite;

  animation-name: myfirst;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-play-state: running;
  animation-iteration-count: infinite;

  :hover {
    background-color: #000000;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: 10px;
    transform: rotate(0deg);
  }
  50% {
    left: 705px;
    transform: rotate(550deg);
  }
  100% {
    left: 10px;
    transform: rotate(0deg);
  }
}

@keyframes myfirst {
  0% {
    left: 10px;
    transform: rotate(0deg);
  }
  50% {
    left: 705px;
    transform: rotate(550deg);
  }
  100% {
    left: 10px;
    transform: rotate(0deg);
  }
}
