.nice_circle {
  position: relative;

  background-color: maroon;
  border: groove;
  border-radius: 50px;

  border-width: 20px;

  width: 50px;
  height: 50px;

  border-top-color: green;
  border-bottom-color: red;
  border-left-color: blue;
  border-right-color: yellow;

  -webkit-animation-name: myfirst;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 1s;
  -webkit-animation-play-state: running;


  :hover {
    background-color: #000000;
  }
}

@-webkit-keyframes myfirst {
  from {
    left: 0;
    transform: rotate(0deg);
  }
  to {
    left: 400px;
    transform: rotate(360deg);
  }
}
