// Place all the styles related to the ProblemLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.problem_list_header {
  position: relative;
  min-height: 50px;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.centering_image {
  justify-content: center;
  max-width: 100px;
  max-height: 100px;
  position: relative;
  display: table-cell;
}

.system_right_console {
  @extend .only_admin_panel;
  position: absolute;
  right: 20px;
  top: 50px;
}